<form action="/places" method="POST">
  <label for="name">Name</label>
  <input type="text" name="name">
  
  <label for="address">Address</label>
  <input type="string" step="any" name="address">
  <label for="postcode">Postcode</label>
  <input type="string" step="any" name="postcode">
  <label for="city">City</label>
  <input type="text" step="any" name="city">
  <label for="country">Country</label>
  <input type="text" step="any" name="country">
  {{!-- <label for="longitude">Longitude</label>
  <input type="number" step="any" name="longitude">
  <label for="latitude">Latitude</label>
  <input type="number" step="any" name="latitude"> --}}
  <button type="submit">Add</button>
</form>