/*---parents-add.hbs---*/
<form action="/parent" method="post">
  <label for="userName">User Name:</label>
  <input type="text" name="userName">

  <label for="firstName">First Name:</label>
  <input type="text" name="firstName">

  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName">

  <label for="email">Email:</label>
  <input type="text" name="email">

  <label for="age">Age:</label>
  <input type="text" name="age">

  <label for="gender">Gender:</label>
  <input type="text" name="gender">

  <label for="">Languages</label>
  <input type="text" name="language">

  <label for="">Nationality </label>
  <input type="text" name="nationality">

  {{!-- <label for="">Location:</label>
  <input type="text" name="location"> --}}

  <label for="">Ocupation:</label>
  <input type="text" name="ocupation">

  <label for="">Picture </label>
  <input type="text" name="pictureUrl">

  <label for="">Child Name</label>
  <input type="text" name="childName">

  <label for="">Activity type</label>
  <input type="text" name="activity">

  <button type='submit'> Submit</button>
</form>